.login-root{
    -fx-background-image: url("images/login-background.png");
    -fx-background-repeat: stretch; /* Stretches the image to fill the background */
    -fx-background-size: 100% 100%; /* Ensures the image covers the entire area */
    -fx-background-position: center center;
}